<div class="container">
<img src="images/PCYD_logo.png"  class="center">
    <div class="col-md-8 col-md-offset-2">
        <h2>PCYD Home</h2>

        <div class="content">
            <p>Welcome to Pinellas County Young Dems!</p>

        </div>


    </div>
</div>