<h2>Committees</h2>
<%@committees.each do |committee|%>
  <p>
  <h3><%= committee.name %> <%= edit_committee_link(committee) %></h3>
  <h4>Chair: <%= committee_chair(committee) %></h4>
  <ul style="list-style-type:none;">
  <%committee.members.each do |member|%>
    <li><%= view_member_link_or_text(member) %></li>
  <%end%>
</p>
<%end%>